<section class="hero">
  <div class="hero-content">
    <div class="hero-logo">
      <img
        src="https://localhost:7174/landing_image.png"
        alt="Emand Insurance Logo"
      />
    </div>
    <div class="hero-text">
      <h1>Protect What Matters Most with Emand Insurance</h1>
      <p>
        Comprehensive, affordable health coverage for you and your family,
        ensuring peace of mind and secure medical care when you need it most.
      </p>
      <button class="cta-button">Get Started</button>
    </div>
  </div>
</section>

<app-ads-section></app-ads-section>
